.navbar {
  background-color: $gray-dark;
  border-radius: 0;
}

.navbar,
.navbar a {
  color: $gray-lighter;
}

.navbar-primary {
  transition: all 0.25s ease-in-out;

  margin-bottom: 0;
}

.navbar-brand {
  transition: all 0.25s ease-in-out;
}
